@supports (-webkit-touch-callout: none) {
  #iosHeight {
    height: -webkit-fill-available !important;
  }
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  font-family: Helvetica;
  overflow: hidden;
}

div,
a {
  background-size: cover;
  color: #fff;
  background-position: center;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-size: auto 100%;
}

div:hover,
a:hover {
  background-size: auto 110%;
}

.gradient {
  background: -moz-linear-gradient(0deg,rgba(0, 0, 0, 0.5466561624649859) 0%,rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg,rgba(0, 0, 0, 0.5466561624649859) 0%,rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5466561624649859) 0%,rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.to-code body {
  background-color: #464648 !important;
}

html.to-radio body {
  background-color: #A9B8CD !important;
}

#mainback {
  background-size: 100% !important;
}
#mainback:hover {
  background-size: 120% !important;
}
