@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500&display=swap');

@font-face {
  font-family: ultra-hyper;
  font-weight: 700;
  src: url(fonts/UltraHyper-Italic.otf);
}

@font-face {
  font-family: ultra-hyper;
  font-weight: 500;
  src: url(fonts/UltraHyper-Regular.otf);
}

h1, .content-title {
  font-family: ultra-hyper, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2, .content-text {
  font-family: 'Changa', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4vmin;
}

p {
  font-family: 'Changa', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-title {
  font-size: calc(12px + 3vmin);
  letter-spacing: .3vmin;
}

#main-name {
  font-size: 10vmin;
  letter-spacing: .5vmin;
}

.nav-links {
  font-family: ultra-hyper, sans-serif;
  font-size: 4vmin;
  margin-top: -1vmin;
  letter-spacing: .25vmin;
  padding-bottom: 3.25vmin;
}

.nav-links>a {
  padding-right: 1vmin;
  padding-left: 1vmin;
}

.active-nav {
  text-decoration: underline;
  pointer-events: none;
}

body {
  background: url(images/halftone.svg);
  background-size: cover;
  background-attachment: fixed;
}

body, a {
  color: #9d6d68 !important;
}

.project-title {
  text-decoration: underline;
}

.tomas-photo {
  max-width: 90%;
}

.top-row {
  min-height: 100%;
  height: -webkit-fill-available;
}

.project-image, .radio-photo, .article-photo {
  outline: .75vmin solid #9d6d68;
  width: 100%;
}

.radio-photo {
  width: 75vmin;
  max-width: 100%;
}

#full-container {
  min-height: 100vh;
  transition: 2.5s;
}

@supports (-webkit-touch-callout: none) {
  #full-container {
    min-height: -webkit-fill-available;
  }

}

.tomas-photo {
  width: 50vmin;
  outline: .75vmin solid #9d6d68;
  margin-bottom: 1.5vmin;
}

a:hover {
  cursor: pointer;
}

