@import url("https://use.typekit.net/zey0gop.css");

.selection-box {
  flex: 1;
  clip-path: inset(-12px 0px -12px -12px);
  color: #E6ECED !important;
  text-decoration: none !important;
}

hr {
  background-color: #E6ECED !important;
  border-color: #E6ECED !important;
}

.name-flex {
  flex: 1;
}

.selection-box:hover {
  cursor: pointer;
}

.content-box, .selection-box, img {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25); 
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
}

.main-rows {
  width: 100vw;
}

.box-title {
  font-size: 3vw;
}

.box-title, .content-title {
  font-family: campaign, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.content-title {
  font-size: 10vmin;
}

.project-title {
  font-size: 8vmin;
  color: #E6ECED !important;
  text-decoration: underline !important;
}

.about-page {
  height: -moz-available;         
  height: -webkit-fill-available; 
  height: fill-available;
}

.tomas-photo {
  background: #B3AC8D;
  width: 45vmin;
  height: 45vmin;
}

.radio-photo, .article-photo {
  width: 78%;
  transition: .25s;
}

img {
  outline: .5vmin solid #E6ECED;
}

.content-text, .content-date, .article-text {
  font-family: campaign, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vmin;
}

.content-date, .article-text {
  font-size: 3vmin;
}

.article-text {
  text-indent: 5vmin;
}

#about {
  z-index: 5;
}

#projects {
  z-index: 3;
}

#radio {
  z-index: 2;
}

#blog {
  z-index: 1;
}


.project-image:hover {
  outline-color: #415969;
}

.radio-photo:hover {
  outline-color: #B0A282;
}

.about-link, .project-link, .project-image {
  transition: .25s;
}

.about-link:hover {
  color: #85B2B7 !important;
}

.project-link:hover {
  color: #415969 !important;
}

.changing-content {
  clip-path: inset(0px 0px 0px -12px);
}

/* under large devices (large desktops, 1200px and up) */
@media (max-width: 1199.9px) {  
  .project-image {
    max-height: 100%;
    height: 35vh;
  }
}

@media (max-width: 575.9px) {
  .article-text {
    font-size: 4vmin
  }
}


@media (max-width: 767.9px) {
  .changing-content {
    flex: 1;
  }
  #nav {
    height: 8vw;
  }
  #name {
    height: 12vw;
  }
  #name-text {
    font-size: 6vw;
  }
  .selection-box {
    clip-path: inset(-12px -12px 0px -12px);
  }
  .changing-content {
    min-height: calc(100vh - 20vw);
    top: 20vw;
  }
  .project-image {
    max-height: auto;
    height: auto;
    width: 74vw;
  }
  .box-title {
    font-size: 4vw;
  }
  .radio-photo, .article-photo {
    width: 74vw;
  }
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
  .changing-content {
    min-height: auto;
  }
  .about-page {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
}

/* md */
@media (min-width: 768px) {
  .content-box {
    min-height: 100vh;
  }

  #nav {
    height: 100vh;
  }
  #fixed-side, #nav {
    clip-path: inset(-12px 0px -12px -12px);
  }
  #name {
    height: 100vh;
  }
  .col-md-4 {
    flex: 0 0 33.4%;
    max-width: 33.4%;
    flex-basis: 33.4%;
  }

}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .project-pic {
    display: flex;
  }
  .project-image {
    max-width: 100%
  }
}

