@import url("https://use.typekit.net/zey0gop.css");

.content-box {
  height: 100vh;
}

.selection-box {
  flex: 1;
  clip-path: inset(-12px 0px -12px -12px);
  color: #E6ECED !important;
  text-decoration: none !important;
}

.selection-box:hover {
  cursor: pointer;
}

.content-box, .selection-box {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25); 
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
}

body {
  overflow-x: hidden;
}

.box-title {
  font-size: 3vw;
}

.box-title, .content-title {
  font-family: campaign, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.content-title {
  font-size: 10vmin;
}

.tomas-photo {
  background: #B3AC8D;
  width: 45vmin;
  height: 45vmin;
  outline: 1vmin solid #E6ECED;
}

.content-text {
  font-family: campaign, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vmin;
}

#about {
  z-index: 5;
}

#code {
  z-index: 3;
}

#radio {
  z-index: 2;
}

#blog {
  z-index: 1;
}

@media (max-width: 767.98px) {
  .content-box {
    height: auto;
  }
}
